@axe-devtools:registry=https://agora.dequecloud.com/artifactory/api/npm/devtools-npm/
//agora.dequecloud.com/artifactory/api/npm/devtools-npm/:_auth=${AXE_DEVTOOLS_AUTH_TOKEN}
//agora.dequecloud.com/artifactory/api/npm/devtools-npm/:email=jeremy.morgan@deque.com
//agora.dequecloud.com/artifactory/api/npm/devtools-npm/:always-auth=true